.container {
    width: 90%;
    margin: 30px auto;
    background-color: #ddd;

    display: grid;

    //grid-template-columns: max-content 1fr 1fr min-content;
    //grid-template-rows: repeat(2, min-content));

    //minmax
    grid-template-columns: minmax(200px, 1fr) repeat(3, 1fr);
    grid-template-rows: repeat(2, minmax(150px, min-content));

    

    .item {
        padding: 10px;
        color: white;
        font-family: 'Open San' sans-serif;
        font-size: 30px;
        background-color: orangered;

        &--1 { background-color: orangered }

        &--2 { background-color: yellowgreen; }

        &--3 { background-color: blueviolet; }

        &--4 { background-color: palegoldenrod; }

        &--5 { background-color: royalblue; }

        &--6 { background-color: goldenrod; }

        &--7 { background-color: crimson; }

        &--8 { background-color: darkgray; }
    }

}